streamlit==1.41.0
psycopg2-binary
sqlalchemy==2.0.27
beautifulsoup4==4.9.0
streamlit_option_menu
matplotlib
wordcloud 
nltk
gensim 
numpy 
streamlit-echarts
scikit-learn
st_wordcloud
requests
psutil
selenium
webdriver-manager
streamlit_extras
pyvis
networkx
